*{
    margin: 0;
    padding: 0;
}
$colortext: red;

.contiene5Cajas {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    margin: 40px;
    margin-top: 90px;

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .box:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $colortext;
        transition-duration: unset;
    }
}

/* TABLET */
@media (min-width: 768px) {
    .contiene5Cajas {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height: 150px;
        margin: 40px;
    .box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

/*DESKTOP*/
@media (min-width: 1024px){
    .contiene5Cajas {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height: 150px;
        margin: 40px;
    .box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}